@using MultiShop.DtoLayer.CatalogDtos.ProductDetailDtos
@model CreateProductDetailDto
@{
	ViewData["Title"] = "CreateProductDetail";
	Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	@await Component.InvokeAsync("_AdminLayoutMainSectionComponentPartial")

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="chart-box">
					<h4>@ViewBag.title2</h4>
					<div id="example_filter" class="dataTables_filter pull-right">
					</div>

					<form method="post">
						<input asp-for=ProductId type="hidden"/>
						<div class="form-group">
							<label>ProductInfo</label>
							<input asp-for="ProductInfo" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>ProductDescription</label>
							<input asp-for="ProductDescription" type="text" class="form-control" />
						</div>
						<button class="btn btn-primary">Kaydet</button>
					</form>



				</div>
			</div>
		</div>
	</section>
	<!-- content -->
</div>

